<div id="task-card">

    <div class="task-card-section-feature top-left">

                        <div id="time-task">
                            <h5>
                            <span id="task-color">{{format_start_time user.date_booking}} - {{format_end_time user.date_booking time_allocation}} / {{user.type}} <i
                            class="fa-solid fa-scissors"></i></span></h5>
                            <h5>{{user.client.name}}</h5>
                        </div>


    </div>
    <br>

    <div class="task-card-section-feature bottom">

        <div>

            <h6 class="feature-desc"><i class="fa fa-map-marker" style="color:#546e7a" aria-hidden="true"></i>
                {{user.client.address}}</h6>

        </div>
    </div>

</div>