<div id="task-card" class="notes">

    <div class="task-card-section-feature top-left">

        <div id="time-task">
            <h5>
                <span id="task-color">{{format_start_time date_booking}} - {{format_end_time date_booking
                    time_allocation}} / {{type}} <i class="fa-solid fa-scissors"></i></span>
            </h5>
            <h5>{{client.name}}</h5>
        </div>


    </div>
    <br>

    <div class="task-card-section-feature bottom">

        <div>

            <h6 class="feature-desc"><i class="fa fa-map-marker" style="color:#546e7a" aria-hidden="true"></i>
                {{client.address}}</h6>

        </div>
    </div>

</div>